*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules

/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db


/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/storage/app/*
!/storage/app/.gitignore
/storage/framework/*
!/storage/framework/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
.env.testing
.php_cs.cache
.php-cs-fixer.cache
composer.phar
npm-debug.log
yarn-error.log
.pnp.*
.idea/
*.sublime-workspace
*.sublime-project

# Zip files
*.zip

# Composer related
/vendor/
/composer.lock
/composer.phar